name: JD_dongdongPet

on:
  schedule:
    - cron: '30 3,9,15,16,22 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
         
      - name: 'Install requirements'
        run: pip install -r ./requirements.txt 
        
      - name: 'run 东东萌宠' 
        run: python3 JD_dongdongPet.py 
        env:
            JD_COOKIE: ${{ secrets.JD_COOKIE }}
     
    
