name: JD_red_packet

on:
  schedule:
    - cron: '5,10,15 0 * * * '
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
         
      - name: 'Install requirements'
        run: pip install -r ./requirements.txt 
        
      - name: 'run 全民红包' 
        run: python3 JD_red_packet.py 
        env:
            JD_COOKIE: ${{ secrets.JD_COOKIE }}
            SCKEY: ${{ secrets.SCKEY }}

    
